#Base de datos
DB_HOST=ep-red-fire-ankm7isg-pooler.c-6.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_E9r0XnoyPHeI
DB_NAME=neondb
DATABASE_URL=postgresql://neondb_owner:npg_E9r0XnoyPHeI@ep-red-fire-ankm7isg-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

#Node.js / Express
NODE_ENV=development
PORT=3000

#JWT
JWT_SECRET=admin_contabilidad_secret_key_2026

#Broker
BROKER_URL=http://localhost:5000

#Integración con servicios externos
COBROS_SERVICE_URL=http://localhost:3005
SISTEMA_BANCARIO_URL=http://localhost:3001