# Base de datos Neon PostgreSQL
DATABASE_URL=postgresql://usuario:password@host.neon.tech/dbname?sslmode=require

# Node.js / Express
NODE_ENV=development
PORT=3000

# Broker
BROKER_URL=http://localhost:5000

# Servicios externos
COBROS_SERVICE_URL=http://localhost:3005
SISTEMA_BANCARIO_URL=http://localhost:3006

# Seguridad
JWT_SECRET=admin_contabilidad_secret_key_2026_cambiar_en_produccion