#Base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=admin_conta
DB_PORT=3306

#Node.js / Express
NODE_ENV=development
PORT=3000

#Broker
BROKER_URL=http://localhost:5000

COBROS_SERVICE_URL=http://localhost:3005
SISTEMA_BANCARIO_URL=http://localhost:3006
JWT_SECRET=admin_contabilidad_secret_key_2026_cambiar_en_produccion